#!/usr/bin/env xdg-open
[Desktop Entry]
Version={{ trello_ver_number.stdout }}
Name=Trello
Terminal=false
Exec={{ trello_desktop_install_dir }}/trello-desktop/latest/Trello
Terminal=false
Type=Application
Icon={{ trello_desktop_install_dir }}/trello-desktop/latest/resources/app/static/Icon.png